- @article.revisions.build(:user_id => current_user.id)
= semantic_form_for @article do |f|
  = f.inputs do
    = f.input :title
    = f.semantic_fields_for :revisions do |r|
      = r.input :tag_list, :as => :string
      = r.input :content
      = r.input :user_id, :as => :hidden
  = f.buttons do
    = f.commit_button
