<<<<<<< HEAD
.row
  .span-24.last
    %h1= @user.name
    %p= @user.email
    %p
      = link_to 'edit', edit_user_path if can? :update, @user
      = link_to "delete account", @user, :confirm => "Are you sure you want to destroy your account? This action cannot be undone.", :method => :delete if can? :destroy, @user
.row
  .span-12
    %p#followers= pluralize(@user.followers.count, 'follower')
    = render 'associate_form' if user_signed_in?
    - if @user.following.any?
      %h2 Associates
      = render @user.following
  .span-12.last
    - if current_user == @user
      %h2 People who consider you their associate
      = render @user.followers
