.container
  .row
    .span12
      %h1 New revision
      
      = semantic_form_for @revision do |f|
        = semantic_fields_for :revisable
          = f.inputs do
            = f.input :title
        = f.inputs do
          = f.input :content
        
        = f.buttons do
          = f.commit_button

      
      = link_to 'Back', revisions_path
