.container-fluid
  .row-fluid
    .span2
      = render 'shared/menu'
    .span10
      .alert.alert-success= notice
      .alert.alert-warning= alert
      %h1
        Editing
        = @wood.name
      
      = render 'form'
      
      = link_to 'Show', @wood
      \|
      = link_to 'Back', woods_path
