.container-fluid
  .row-fluid
    .span2
      = render 'shared/menu'
    .span10
      %h1 Who doesn't like wood?
      
      %table.table
        %tr
          %th Name
          %th Character
          %th Tags
          %th
      
        - @woods.each do |wood|
          %tr
            %td= link_to wood.name, wood
            %td= wood.character
            %td= wood.tag_list
            %td= link_to 'Destroy', wood, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' if can? :destroy, wood
      %br
      
      = link_to 'New Wood', new_wood_path, :class => 'btn btn-success' if can? :create, Wood
