.container
  .row
    .span12
      %h1 Who doesn't like wood?
      
      %table.table
        %tr
          %th Name
          %th Character
          %th
          %th
      
        - @woods.each do |wood|
          %tr
            %td= link_to wood.name, wood
            %td= wood.character
            %td= link_to 'Edit', edit_wood_path(wood), :class => 'btn' if can? :update, wood
            %td= link_to 'Destroy', wood, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' if can? :destroy, wood
      
      %br
      
      = link_to 'New Wood', new_wood_path
