.container
  .row
    .span4
      .hero-unit
        %h1 Vitals
        %h3= pluralize(User.all.count, 'user')
        %h3= pluralize(Article.all.count, 'article')
        %h3= pluralize(Revision.all.count, 'revision')
        %p
          for an average of
          = Revision.all.count / User.all.count /  1
          updates
          to
          = Article.all.count / User.all.count / 1
          articles
          per user per day!
    .span4
      %h1 Latest Articles
      %hr
      = render @articles
    .span4
      - if @user.followers.any? && @user.following.any?
        .well
          %h2#followers
            You have
            = pluralize(@user.following.count, 'Associate')
          %p Associates are contacts. Mutual associates have reciprocally added you as their associate.
          - @user.following.each do |followed|
            %p
              = link_to followed.name, followed
              - if @user.followers.find_by_id(followed.id)
                %span.label.label-success mutual