.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:class => "brand", :href => "#{root_path}"}= site_name
      .nav-collapse
        = tabs
      %form.navbar-search.pull-left
        %input.search-query{:type => 'text', :placeholder => 'search'}
      .nav-collapse.pull-right
        %ul.nav
          - if user_signed_in?
            %li.dropdown
              %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'profile', current_user
                %li= link_to 'edit profile', edit_user_path(current_user)
                %li= link_to 'sign out', '/sign_out'
          - else
            %li= link_to 'sign in', '/sign_in'
            %li= link_to 'sign up!', new_user_registration_path
