- if user_signed_in?
  %p
    You are signed in as
    = current_user.name
    [
    = current_user.email
    ]
    - unless admin_signed_in?
      Sign in as an
      = link_to 'admin', new_admin_session_path
      |
    - else
      You're also signed in as an admin [
      = current_admin.email
      ]
    = link_to 'sign out', destroy_user_session_path, :method => :delete
    |
    = link_to 'profile', current_user
    \-
    = link_to 'edit', edit_user_path(current_user)
    |
    = link_to 'users', users_path
    |
    = link_to 'admins', admins_path
- else
  %p Please #{link_to 'sign in', new_user_session_path}.